.dumi-default-doc-layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  > main {
    width: 100%;

    > .dumi-default-content {
      margin-bottom: 0 !important;
    }
  }
}
